* {
    /*border: 1px dot-dot-dash magenta;*/
    /*outline: 1px dashed cyan;*/
}

body {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 24px;

    margin: 5px;
    padding: 5px;

    background-color: darkcyan;
    color: #222;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 0px;
}

.container > .sidebar {
    padding: 0px;
    margin: 10px;
    min-width: 300px;
}

.container > .main {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    background-color: aliceblue;
    /*border-radius: 10px;*/
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
}

.sidebar > .header {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
    font-size: 46px;
    color: #FFF;
    padding: 10px 20px;
}

.sidebar > .menu > ul {
    list-style-type: none;

    margin: 10px 0;
    padding: 10px 0;
    text-align: right;
}

.sidebar > .menu > ul > li {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 3px;
    transition-duration: 0.4s;
    line-height: 25px;
}

.sidebar > .menu > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}
/* <><><><><><><> Generic fixits <><><><><><><> */
a {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    text-decoration: none;
}