* {
    /*border: 1px dot-dot-dash magenta;*/
    /*outline: 1px dashed cyan;*/
}

body {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 24px;

    margin: 5px;
    padding: 5px;

    background-color: darkcyan;
    color: #222;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 0px;
}

.container > .sidebar {
    padding: 0px;
    margin: 10px;
    min-width: 300px;
}

.container > .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 20px;
    margin: 10px;
    flex-grow: 1;
    background-color: aliceblue;
    /*border-radius: 10px;*/
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
}

.container > .main > div.new {
    display: block;
}

.container > .main > .new > input {
    width: 98%;
    font-size: 24px;
    line-height: 30px;
    border: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.05);
    transition-duration: 0.3s;
    color: #333333;
}

.container > .main > form.new > input::placeholder {
    font-style: italic;
}

.container > .main > form.new > input:hover {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.container > .main > form.new > input:focus {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
}

.container > .main > .list {
    flex-grow: 1;
}

.container > .main > .list > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container > .main > .list > ul > li {
    display: flex;
    margin: 4px;
    padding: 5px 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.container > .main > .list > ul > li.active {
    background-color: rgba(104, 190, 203, 0.2);
}

.container > .main > .list > ul > li.completed {
    background-color: rgba(134, 203, 70, 0.2);
    color: #BBB;
    text-decoration: line-through
}

.container > .main > .list > ul > li.deleted {
    background-color: rgba(203, 75, 44, 0.2);
    color: #CCC;
    text-decoration: line-through
}

.container > .main > .list > ul > li:hover {
    transition-duration: 0.3s;
    background-color: rgba(104, 190, 203, 0.3);
    margin: 4px 15px;
}

.sidebar > .header {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
    font-size: 46px;
    color: #FFF;
    padding: 10px 20px;
}

.sidebar > .menu > ul {
    list-style-type: none;

    margin: 10px 0;
    padding: 10px 0;
    text-align: right;
}

.sidebar > .menu > ul > li {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 3px;
    transition-duration: 0.4s;
    line-height: 25px;
}

.sidebar > .menu > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 3px 10px;
}

/* <><><><><><><> Generic fix-its <><><><><><><> */
a {
    text-decoration: none;
    color: #FFF;
}