{% extends 'inc/app.htm' %}

{% block app %}
    <div class="container">
        <div class="sidebar">
            <div class="header">
                Py2Do
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Refresh</a></li>
                    <li><a href="#">Add new todo</a></li>
                    <li><a href="#">Show completed</a></li>
                    <li><a href="#">Show archived</a></li>
                    <li><a href="#">Cleanup</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            This is the main app
        </div>
    </div>

{% endblock %}