<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Py2Do</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

<div id="app">
    {% block app %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>